*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/* Hide vertical scrollbar but allow scrolling in y-axis */
body{
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body{
    width: 100%;
    overflow-x: hidden;
  }
  
}











/* body {
  overflow-x: hidden;
  overflow-y: scroll; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
} */

/* For Webkit browsers (Chrome, Safari) */
/* body::-webkit-scrollbar {
  width: 0.1em;
} */

/* body::-webkit-scrollbar-thumb {
  background-color: transparent;
} */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

